.main-logo {
   @include flex-center;
   max-width: 113px;
   max-height: 23px;
   &__img {
      width: 100%;
      height: 100%;
      @media (max-width: 991px) {
         max-height: 14px;
      }
   }
   @media (max-width: 991px) {
      max-width: 70px;
      max-height: 24px;
   }
}