.scrollbar {
  &::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    background-color: $gray2;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: $main;
  }

  &::-webkit-scrollbar-track {
    background: none;
  }
}