.banner {
   &__body {
      @include flex-between;
      position: relative;
      overflow: hidden;
      padding: 65px 78px;
      border-radius: 10px;
      z-index: 1;
      @media (max-width: 1119px) {
         padding: 50px 60px;
      }
      @media (max-width: 991px) {
         padding: 35px 45px;
      }
      @media (max-width: 767px) {
         padding: 25px 30px;   
      }
   }
   &__content {
      display: block;
      margin-left: auto;
      @media (max-width: 1119px) {
         margin-left: 0;
      }
   }
   &__note {
      display: inline-block;
      padding: 3px 12px;
      border-radius: 5px;
      font-size: 14px;
      line-height: 20px;
      color: $white;
      margin-bottom: 25px;
      @media (max-width: 991px) {
         margin-bottom: 15px;
      }
   }
   &__title {
      color: $white;
      margin-bottom: 25px;
      @media (max-width: 991px) {
         margin-bottom: 25px;
      }
   }
   &__btn {
      display: inline-block;
      padding: 14px 24px;
      background-color: $white;
      border: 1px solid $white;
      border-radius: 5px;
      font-size: 16px;
      line-height: 23px;
      transition: color .2s ease, background .2s ease;
      &:hover {
         color: $white;
         background: none;
      }
      @media (max-width: 991px) {
         padding-top: 11px;
         padding-bottom: 11px;
      }
      @media (max-width: 767px) {
         font-size: 14px;
         line-height: normal;
      }
      @media (max-width: 480px) {
         width: 100%;
         text-align: center;
      }
   }
}