.basket {
  padding: 20px 0px 100px 0px;
  @media (max-width: 767px) {
    padding-bottom: 60px;
  }
  &__prev {
    display: none;
    align-items: center;
    font-size: 12px;
    line-height: 17px;
    color: $gray;
    margin-bottom: 10px;
    transition: color .2 ease;
    &:hover {
      color: $main;
    }
  }
  &__prev-icon {
    transform: rotate(180deg);
    width: 12px;
    height: 8px;
    margin-right: 8px;
    color: inherit;
    fill: currentColor;
    transition: fill .2s ease, color .2s ease;
  }
  &__title {
    margin-bottom: 5px;
  }
  &__count {
    font-size: 14px;
    line-height: 20px;
    color: $gray;
    margin-bottom: 40px;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    @media (max-width: 1199px) {
      column-gap: 30px;
    }
    @media (max-width: 991px) {
      display: block;
    }
  }
  &__table {
    flex: 0 1 760px;
    @media (max-width: 991px) {
      margin-bottom: 30px;
    }
  }
  &__table-header {
    @include flex-between;
    padding: 12px 20px;
    background-color: $bg;
    border-radius: 5px;
    margin-bottom: 40px;
    @media (max-width: 767px) {
      margin-bottom: 40px;
    }
    @media (max-width: 480px) {
      display: none;
    }
  }
  &__table-item {
    display: flex;
    justify-content: center;
    flex: 0 1 130px;
    &._one {
      justify-content: start;
      flex-basis: 325px;
    }
    @media (max-width: 767px) {
      flex-basis: 111px;
      &._one {
        flex-basis: 240px;
      }
    }
    @media (max-width: 480px) {
      flex: none;
      &._one {
        flex-basis: 100%;
      }
    }
  }
  &__table-title {
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
  }
  &__products-delete {
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    color: $gray;
    transition: color 0.2s ease;
    &:hover {
      color: $main;
    }
  }
  &__product-card {
    &:not(:last-child) {
      margin-bottom: 40px;
    }
    @media (max-width: 767px) {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }
  &__product-header {
    @include flex-between;
    margin-bottom: 35px;
    .basket__table-item {
      &:last-child {
        padding-right: 20px;
      }
    }
    @media (max-width: 480px) {
      justify-content: start;
      flex-wrap: wrap;
      row-gap: 10px;
      column-gap: 20px;
      .basket__table-item {
        &:last-child {
          padding-right: 0;
        }
      }
    }
  }
  &__product-info {
    display: flex;
    align-items: center;
    @media (max-width: 576px) {
      flex-direction: column;
    }
    @media (max-width: 480px) {
      flex-direction: row;
    }
  }
  &__product-img {
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 20px;
    @media (max-width: 767px) {
      margin-right: 10px;
      width: 60px;
      height: 60px;
    }
    @media (max-width: 576px) {
      margin-bottom: 10px;
    }
  }
  &__product-info-right {
  }
  &__product-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 7px;
    @media (max-width: 767px) {
      font-size: 18px;
      line-height: normal;
    }
  }
  &__product-descr {
    display: flex;
    align-items: center;
  }
  &__product-status {
    position: relative;
    padding-left: 12px;
    font-size: 12px;
    line-height: 17px;
    color: $gray;
    margin-right: 18px;
    &::before {
      position: absolute;
      content: '';
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background-color: $green;
      left: 0;
      top: 5px;
    }
  }
  &__product-addition {
    font-size: 12px;
    line-height: 17px;
    color: $gray;
  }
  &__product-count {
    overflow: hidden;
    display: flex;
    align-items: center;
    background-color: $bg;
    border-radius: 5px;
  }
  &__product-count-btn {
    display: block;
    font-size: 16px;
    line-height: 23px;
    height: 38px;
    width: 38px;
    background-color: transparent;
    color: $gray;
    transition: background-color 0.2s ease, color 0.2s ease;
    &:hover {
      color: $white;
      background-color: $main;
    }
    @media (max-width: 767px) {
      width: 28px;
      height: 28px;
      font-size: 14px;
      line-height: normal;
    }
  }
  &__product-count-num {
    margin: 0 10px;
    font-size: 16px;
    line-height: 23px;
    @media (max-width: 767px) {
      font-size: 14px;
      line-height: normal;
    }
  }
  &__product-price {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    @media (max-width: 767px) {
      font-size: 16px;
      line-height: normal;
    }
  }
  &__product-del {
    width: 22px;
    height: 22px;
    &:hover {
      svg {
        fill: $main;
      }
    }
  }
  &__product-del-icon {
    width: 100%;
    height: 100%;
    fill: $gray;
    transition: fill 0.2s ease;
  }
  &__product-tags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 15px;
    row-gap: 10px;
    padding: 16px 10px;
    border-radius: 10px;
    border: 1px solid $gray2;
  }
  &__product-tag {
    display: flex;
    padding: 8px 15px;
    border-radius: 30px;
    border: 1px solid $gray2;
    @media (max-width: 767px) {
      padding: 5px 8px;
    }
  }
  &__product-tag-title {
    font-size: 14px;
    line-height: 20px;
    color: $gray;
    margin-right: 3px;
  }
  &__product-tag-btn {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 20px;
    transition: color 0.2s ease;
    &.active {
      color: $main;
      svg {
        fill: $main;
        transform: rotate(270deg);
      }
    }
    &:hover {
      color: $main;
      svg {
        fill: $main;
      }
    }
  }
  &__product-tag-arrow {
    margin-left: 5px;
    width: 8px;
    height: 8px;
    fill: $black;
    transform: rotate(90deg) translateX(1px);
    transition: transform 0.2s ease, fill 0.2s ease;
    pointer-events: none;
    &:hover {
      fill: $main;
    }
  }
  &__product-tag-item {
    top: 38px;
    right: 0;
  }
  &__product-tag-element {
    padding: 5px 10px;
    font-size: 14px;
    line-height: 20px;
    transition: color 0.2s ease, background-color 0.2s ease;
    &--color {
      position: relative;
      height: 26px;
      &::before {
        position: absolute;
        content: '';
        width: 16px;
        height: 16px;
        border-radius: 50%;
        top: 5px;
        left: 10px;
      }
      &._blue {
        &::before {
          background-color: $blue;
        }
      }
      &._green {
        &::before {
          background-color: $green;
        }
      }
      &._pink {
        &::before {
          background-color: $pink;
        }
      }
      &._red {
        &::before {
          background-color: $red;
        }
      }
    }
    &:hover {
      color: $white;
      background-color: $main;
    }
  }
  &__sidebar {
    position: sticky;
    padding: 25px 28px;
    background-color: $bg;
    border-radius: 10px;
    flex: 0 1 285px;
    height: fit-content;
    top: 120px;
    @media (max-width: 1199px) {
      padding-right: 15px;
      padding-left: 15px;
    }
    @media (max-width: 991px) {
      max-width: 500px;
      margin: 0 auto;
    }
  }
  &__sidebar-header {
    padding-bottom: 10px;
    border-bottom: 1px solid $gray2;
    margin-bottom: 15px;
  }
  &__sidebar-title {
    font-size: 12px;
    line-height: 17px;
  }
  &__sidebar-price {
    font-weight: 600;
    font-size: 25px;
    line-height: 36px;
    text-transform: uppercase;
  }
  &__sidebar-list {
    padding-bottom: 20px;
    border-bottom: 1px solid $gray2;
    margin-bottom: 20px;
  }
  &__sidebar-item {
    @include flex-between;
  }
  &__sidebar-item-title {
    font-size: 12px;
    line-height: 17px;
  }
  &__sidebar-item-price {
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
  }
  &__sidebar-btn {
    width: 100%;
    margin-bottom: 15px;
  }
  &__processing-data {
    max-width: 345px;
  }
  &__empty {
    @include flex-center;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    min-height: 325px;
    background-color: $bg;
    border-radius: 10px;
  }
  &__empty-img {
    width: 134px;
    height: 84px;
    margin-bottom: 25px;
  }
  &__empty-title {
    text-align: center;
    margin-bottom: 5px;
  }
  &__empty-content {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 25px;
    text-align: center;
  }
  &__empty-btn {
    padding: 10px 20px;
    font-size: 12px;
    line-height: 17px;
    text-align: center;
    @media (max-width: 480px) {
      width: 100%;
    }
  }
  &__arrange {
    display: none;
    flex: 0 1 760px;
    @media (max-width: 991px) {
      margin-bottom: 30px;
    }
  }
  &__step {
    &:not(:last-child) {
      margin-bottom: 50px;
    }
    @media (max-width: 767px) {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }
  &__step-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 30px;
    span {
      display: inline;
      color: $main;
    }
    @media (max-width: 767px) {
      font-size: 18px;
      line-height: normal;
      margin-bottom: 20px;
    }
  }
  &__step-wrapper {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 20px;
    &._form {
      column-gap: 30px;
    }
    @media (max-width: 576px) {
      gap: 15px;
      &._column {
        column-gap: 15px;
      }
    }
  }
  &__step-check {
    &:checked + label {
      border-color: $main;
      background-color: transparent;
      .basket__step-select-btn {
        background-color: $bg;
      }
      &::before {
        border-color: $main;
      }
      &::after {
        display: block;
      }
    }
  }
  &__step-label {
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    flex: 0 1 240px;
    min-height: 160px;
    padding: 15px 15px 20px 40px;
    border-radius: 5px;
    background-color: $bg;
    border: 1px solid transparent;
    transition: background-color 0.2s ease, border-color 0.2s ease;
    &::before,
    &::after {
      position: absolute;
      content: '';
    }
    &::before {
      width: 16px;
      height: 16px;
      border: 1px solid $gray2;
      background-color: $white;
      border-radius: 50%;
      top: 19px;
      left: 15px;
    }
    &::after {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: $main;
      top: 24px;
      left: 20px;
      display: none;
    }
    &:hover {
      border-color: $main;
      background-color: transparent;
    }
    @media (max-width: 991px) {
      flex-basis: 225px;
      padding-left: 25px;
      &::before,
      &::after {
        top: auto;
        left: auto;
      }
      &::before {
        right: 15px;
        bottom: 10px;
      }
      &::after {
        right: 20px;
        bottom: 15px;
      }
    }
    @media (max-width: 767px) {
      flex-basis: calc(50% - 10px);
    }
    @media (max-width: 480px) {
      flex-basis: 100%;
      min-height: auto;
    }
  }
  &__step-label-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 10px;
    @media (max-width: 576px) {
      font-size: 14px;
      line-height: normal;
    }
  }
  &__step-select {
    margin-bottom: 13px;
    @media (max-width: 480px) {
      max-width: 300px;
    }
  }
  &__step-select-btn {
    @include flex-between;
    width: 100%;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: $white;
    border: 1px solid transparent;
    font-size: 12px;
    line-height: 17px;
    transition: color 0.2s ease, background-color 0.2s ease, border-color 0.2s ease;
    &:hover {
      background-color: transparent;
      color: $main;
      border-color: $main;
      svg {
        fill: $main;
      }
    }
  }
  &__step-select-arrow {
    width: 8px;
    height: 8px;
    fill: $black;
    transform: rotate(90deg);
    transition: transform 0.2s ease fill 0.2s ease;
  }
  &__step-select-element {
    padding: 8px 15px;
    font-size: 12px;
    line-height: 17px;
    transition: background-color 0.2s ease, color 0.2s ease;
    &:hover {
      color: $white;
      background-color: $main;
    }
  }
  &__step-address {
    display: flex;
  }
  &__step-address-icon {
    width: 15px;
    height: 15px;
    margin-right: 10px;
    fill: $gray;
  }
  &__step-address-content {
    font-size: 12px;
    line-height: 17px;
    max-width: 125px;
  }
  &__delivery-list {
    margin-bottom: 15px;
  }
  &__delivery-item {
    position: relative;
    padding-left: 15px;
    font-size: 12px;
    line-height: 17px;
    &::before {
      position: absolute;
      content: '';
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: $orange;
      top: 6px;
      left: 0;
    }
  }
  &__free {
    width: fit-content;
    padding: 3px 10px;
    border-radius: 5px;
    background-color: $green;
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    color: $white;
  }
  &__step-label-region {
    font-size: 12px;
    line-height: 17px;
    flex-grow: 1;
    @media (max-width: 480px) {
      margin-bottom: 15px;
    }
  }
  &__step-content-manager {
    font-size: 12px;
    line-height: 17px;
    color: $gray;
    a {
      font-weight: 500;
      transition: color 0.2s ease;
      &:hover {
        color: $main;
      }
    }
    @media (max-width: 767px) {
      max-width: 180px;
    }
    @media (max-width: 576px) {
      a {
        display: block;
      }
    }
  }
  &__form-item {
    flex: 0 1 calc(50% - 15px);
    &._comment {
      flex-basis: 100%;
    }
    @media (max-width: 480px) {
      flex-basis: 100%;
    }
  }
  &__form-label {
    display: block;
    font-size: 12px;
    line-height: 17px;
    margin-bottom: 7px;
  }
  &__form-input {
    width: 100%;
    &._comment {
      height: 120px;
    }
  }
  &__form-discount {
    display: block;
    margin-top: 10px;
    padding-left: 28px;
    font-size: 12px;
    line-height: 14px;
  }
  &__payment-list {
    display: flex;
    flex-wrap: wrap;
    max-width: 112px;
    gap: 5px;
  }
  &__payment-item {
    width: 34px;
    height: 24px;
  }
  &__payment-img {
    display: block;
    width: 100%;
    height: 100%;
  }
  &__step-payment-content {
    font-size: 12px;
    line-height: 15px;
    a {
      color: $main;
      &:hover {
        text-decoration: underline;
      }
    }
    @media (max-width: 480px) {
      max-width: 235px;
    }
  }
}
