.hero {
   color: $white;
   &__body {
      border-radius: 10px;
      &._linear {
         position: relative;
         overflow: hidden;
         z-index: 1;
         &::before {
            position: absolute;
            content: '';
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: -1;
         }
      }
   }
   &__content {
      font-size: 20px;
      line-height: 29px;
      @media (max-width: 767px) {
         font-size: 16px;
         line-height: normal;
      }
      @media (max-width: 576px) {
         font-size: 10px;
         line-height: 14px;
      }
   }
   &__btn {
      background-color: $white;
      border-color: $white;
      color: $main;
      &:hover {
         background-color: transparent;
         color: $white;
      }
   }
}