.hero {
   color: $white;
   &__content {
      font-size: 20px;
      line-height: 29px;
      @media (max-width: 767px) {
         font-size: 16px;
         line-height: normal;
      }
      @media (max-width: 576px) {
         font-size: 10px;
         line-height: 14px;
      }
   }
   &__btn {
      background-color: $white;
      border-color: $white;
      color: $main;
      &:hover {
         background-color: transparent;
         color: $white;
      }
   }
}