.new-article {
   overflow: hidden;
   padding-bottom: 100px;
   @media (max-width: 767px) {
      padding-bottom: 60px;
   }
   &__title {
      margin-bottom: 60px;
      @media (max-width: 1119px) {
         margin-bottom: 40px;
      }
      @media (max-width: 767px) {
         margin-bottom: 20px;
      }
   }
   &__slider {
      overflow: visible;
      &:hover {
         .new-article__slider-btn {
            opacity: 1;
         }
      }
   }
   &__slide {
      overflow: hidden;
      border-radius: 10px;
      flex: 0 0 350px;
      &:not(:last-child) {
         margin-right: 30px;
      }
      @media (max-width: 991px) {
         flex-basis: 320px;
      }
      @media (max-width: 767px) {
         flex-basis: 300px;
         &:not(:last-child) {
            margin-right: 20px;
         }
      }
   }
   &__slide-img {
      width: 100%;
      height: auto;
      display: block;
   }
   &__slide-body {
      padding: 20px 20px 25px 20px;
      background-color: $bg;
   }
   &__slide-title {
      max-width: 235px;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 10px;
      @media (max-width: 767px) {
         font-size: 18px;
         line-height: normal;
         max-width: none;
      }
   }
   &__slide-content {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 18px;
   }
   &__slide-info {
      display: flex;
      align-items: center;
      column-gap: 25px;
   }
   &__slide-block-info {
      display: flex;
      align-items: center;
   }
   &__slide-icon-info {
      width: 18px;
      height: 18px;
      fill: $gray;
      margin-right: 10px;
   }
   &__slide-content-info {
      font-size: 12px;
      line-height: 17px;
      color: $gray;
   }
   &__slider-btn {
      position: absolute;
      width: 66px;
      height: 66px;
      background-color: $main;
      top: calc(50% - 33px);
      opacity: 0;
      &:hover {
         background-color: $white;
         border-color: $main;
         svg {
            fill: $main;
         }
      }
      &.swiper-button-disabled {
         display: none;
      }
      @media (max-width: 1119px) {
         width: 60px;
         height: 60px;
         top: calc(50% - 30px);
      }
      @media (max-width: 767px) {
         width: 50px;
         height: 50px;
         top: calc(50% - 25px);
      }
      @media (max-width: 576px) {
         display: none;
      }
   }
   &__slider-btn--prev {
      transform: rotate(180deg);
      left: 0;
      @media (max-width: 1119px) {
         left: 20px;
      }
   }
   &__slider-btn-icon {
      fill: $white;
      width: 10px;
      height: 18px;
      @media (max-width: 767px) {
         width: 8px;
         height: 14px;
      }
   }
   &__slider-btn--next {
      right: 0;
      @media (max-width: 1119px) {
         right: 20px;
      }
   }
}