.reason-malfunction {
   &__body {
      @include flex-between;
      padding: 65px 115px;
      background: radial-gradient(64.24% 330.33% at 21.88% 87.41%, #539DFF 0%, #2777FC 100%), radial-gradient(76.7% 707.77% at 23.3% 72.57%, #595959 0%, #3B3E46 100%);
      border-radius: 10px;
      @media (max-width: 1439px) {
         padding: 40px 60px;
      }
      @media (max-width: 1119px) {
         align-items: start;
         flex-direction: column;
      }
      @media (max-width: 991px) {
         padding: 25px 40px;
      }
      @media (max-width: 576px) {
         padding: 15px 20px;
      }
   }
   &__left {
      position: relative;
      width: 520px;
      height: 265px; 
      &::after {
         position: absolute;
         content: '';
         width: 50px;
         height: 50px;
         background: url('../img/logos/icon-video.svg') 0 0 / 100% 100% no-repeat;
         right: -5px;
         top: -25px;
         z-index: 10;
      } 
      @media (max-width: 1439px) {
         width: 475px;
         height: 210px;
         &::after {
            width: 40px;
            height: 40px;
            top: -20px;
         }
      }
      @media (max-width: 1119px) {
         width: 520px;
         height: 265px; 
         margin-bottom: 30px;
      }
      @media (max-width: 991px) {
         width: 100%;
         height: auto;
      }
      @media (max-width: 767px) {
         &::after {
            width: 30px;
            height: 30px;
            top: -10px;
         }
      }
   }
   &__img {
      width: 100%;
      height: 100%;
      border-radius: 4px;
   }
   &__right {
      max-width: 540px;
      color: $white;
      @media (max-width: 1439px) {
         max-width: 530px;
      }
      @media (max-width: 1119px) {
         max-width: none;
      }
   }
   &__type {
      display: inline-block;
      font-size: 14px;
      line-height: 20px;
      padding: 4px 12px;
      border-radius: 5px;
      background-color: $green;
      margin-bottom: 30px;
      @media (max-width: 767px) {
         margin-bottom: 15px;
      }
   }
   &__title {
      margin-bottom: 25px;
      @media (max-width: 767px) {
         margin-bottom: 20px;
      }
   }
   &__btn {
      border-color: $white;
      background-color: $white;
      color: $blue;
      &:hover {
         color: $white;
      }
      @media (max-width: 480px) {
         width: 100%;
      }
   }
   &__popup-window {
      max-width: 650px;
   }
   &__popup-title {
      max-width: 430px;
      margin-bottom: 10px;
   }
   &__content {
      font-size: 16px;
      line-height: 20px;
      max-width: 350px;
      margin-bottom: 30px;
   }
   &__form {
      display: flex;
      flex-wrap: wrap;
      column-gap: 30px;
      row-gap: 20px;
      @media (max-width: 767px) {
         column-gap: 20px;
      }
      @media (max-width: 576px) {
         display: block;
      }
   }
   &__communication {
      flex: 0 1 265px;
      @media (max-width: 991px) {
         flex-basis: calc(50% - 15px);
      }
      @media (max-width: 576px) {
         margin-bottom: 15px;
      }
   }
   &__input {
      flex: 0 1 265px;
      align-self: flex-end;
      @media (max-width: 991px) {
         flex-basis: calc(50% - 15px);
      }
      @media (max-width: 576px) {
         width: 100%;
         max-width: 265px;
         margin-bottom: 15px;
      }
      @media (max-width: 480px) {
         max-width: none;
      }
   }
   &__form-btn {
      flex: 0 1 265px;
      @media (max-width: 991px) {
         flex-basis: calc(50% - 15px);
      }
      @media (max-width: 576px) {
         width: 100%;
         max-width: 265px;
         margin-bottom: 15px;
      }
      @media (max-width: 480px) {
         max-width: none;
      }
   }
}