.video {
   padding-bottom: 100px;
   @media (max-width: 767px) {
      padding-bottom: 60px;
   }
   &__video-player {
      width: 100%;
      height: 630px;
      @media (max-width: 1119px) {
         height: auto;
      }
   }
   &__btn {
      width: 136px;
      height: 136px;
      @media (max-width: 1119px) {
         width: 100px;
         height: 100px;
      }
      @media (max-width: 991px) {
         width: 85px;
         height: 85px;
      }
   }
   &__btn-icon {
      width: 36px;
      height: 36px;
      @media (max-width: 1119px) {
         width: 30px;
         height: 30px;
      }
      @media (max-width: 991px) {
         width: 25px;
         height: 25px;
      }
   }
}