* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}
body {
   font-family: 'Jost', sans-serif;
   color: $black;
   background-color: $white;
}
ul,
li {
   list-style: none;
}
a {
   color: inherit;
   text-decoration: none;
}
h2, h3 {
   font-weight: 600;
   text-transform: uppercase;
}
h2 {
   font-size: 35px;
   line-height: 51px;
   @media (max-width: 992px) {
      font-size: 30px;
      line-height: normal;
   }
   @media (max-width: 768px) {
      font-size: 25px;
   }
}
h3 {
   font-size: 25px;
   line-height: 36px;
   line-height: 36px;
   @media (max-width: 768px) {
      font-size: 20px;
      line-height: normal;
   }
}
h4 {
   font-weight: 600;
   font-size: 18px;
   line-height: 26px;
}
h5 {
   font-weight: 500;
   font-size: 14px;
   line-height: 20px;
}
button {
   cursor: pointer;
   border: none;
   background: none;
}
input {
   border: none;
   outline: none;
   background: none;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
   display: none;
}
/* Firefox */
input[type=number] {
   -moz-appearance: textfield;
}
input[type="checkbox"] {
   display: none;
}
textarea {
   background: none;
   resize: none;
   outline: none;
}
input,
select,
textarea,
button {
   font-family: inherit;
   color: inherit;
}
span {
   display: block;
}
.container {
   max-width: 1130px;
   margin: 0 auto;
   padding: 0 10px;
   &._big {
      max-width: 1400px;
   }
   @media (max-width: 1439px) {
      &._big {
         max-width: 1180px;
      }
   }
   @media (max-width: 1200px) {
      max-width: 980px !important;
   }
   @media (max-width: 992px) {
      max-width: 740px !important;
   }
   @media (max-width: 768px) {
      max-width: 560px !important;
   }
   @media (max-width: 768px) {
      padding: 0 15px;
   }
}