.title-2, .title-3 {
   font-weight: 600;
   text-transform: uppercase;
}

.title-2 {
   font-size: 35px;
   line-height: 51px;
   @media (max-width: 991px) {
      font-size: 30px;
      line-height: normal;
   }
   @media (max-width: 767px) {
      font-size: 25px;
   }
}
.title-3 {
   font-size: 25px;
   line-height: 36px;
   line-height: 36px;
   @media (max-width: 767px) {
      font-size: 20px;
      line-height: normal;
   }
}
.title-4 {
   font-weight: 600;
   font-size: 18px;
   line-height: 26px;
   @media (max-width: 767px) {
      font-size: 16px;
      line-height: 23px;
   }
}
.title-5 {
   font-weight: 500;
   font-size: 14px;
   line-height: 20px;
}