// colors

$white: #fff;
$black: #282739;

$gray: #5D6C7B;
$gray2: #EAEBED;
   
$main: #6F73EE;

$bg: #F4F7FB;
$bg2: #F1F2F6;

$yellow: #FFD12E;
$orange: #F3A712;
$red: #EE685F;

$green: #75D14A;

$blue: #3C89FD;
$black-blue: #008DE0;