.order-cell {
   &__window {
      width: 100%;
      background-color: $white;
      &.scroll {
         overflow-y: hidden;
         .order-cell__popup-wrapper {
            overflow-y: auto;
            &::-webkit-scrollbar {
               width: 0;
            }
         }
      }
      &::before {
         position: absolute;
         content: '';
         background: url('../img/pictures/woman.png') bottom right / cover no-repeat;
         width: 300px;
         height: 430px;
         right: 35px;
         bottom: 0;
         z-index: -1;
      }
      @media (max-width: 1439px) {
         &::before {
            right: 0;
         }
      }
      @media (max-width: 991px) {
         &::before {
            width: 255px;
            height: 360px;
         }
      }
      @media (max-width: 767px) {
         &::before {
            width: 173px;
            height: 245px;
         }
      }
      @media (max-width: 576px) {
         &::before {
            width: 127px;
            height: 180px;
         }
      }
      @media (max-width: 480px) {
         &::before { 
            display: none;
         }
      }
   }
   &__popup-wrapper {
      height: 100%;
   }
   &__title {
      max-width: 355px;
      margin-bottom: 15px;
      @media (max-width: 767px) {
         max-width: 260px;
         margin-bottom: 10px;
      }
      @media (max-width: 576px) {
         max-width: none;
      }
   }
   &__content {
      max-width: 310px;
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 35px;
      @media (max-width: 767px) {
         max-width: 270px;
         font-size: 14px;
         line-height: normal;
         margin-bottom: 15px;
      }
      @media (max-width: 576px) {
         max-width: none;
      }
   }
   &__form {
      max-width: 265px;
      @media (max-width: 480px) {
         max-width: 100%;
      }
   }
   &__input {
      width: 100%;
      margin-bottom: 20px;
      @media (max-width: 767px) {
         margin-bottom: 15px;
      }
   }
   &__btn {
      width: 100%;
      margin-bottom: 20px;
      font-size: 16px;
      line-height: 23px;
      padding: 15px 0;
      @media (max-width: 767px) {
         padding: 10px 15px;
         font-size: 14px;
         line-height: normal;
      }
   }
}