.search-select {
   max-width: 76px;
   width: 100%;
   margin-left: 4px;
   @media (max-width: 576px) {
      display: none;
   }
   &__btn {
      border-radius: 5px;
      background-color: $bg;
      width: 100%;
      padding: 6px 8px;
      display: flex;
      align-items: center;
      transition: background-color .2s ease, border-radius .2s ease;
      &.active {
         svg {
            transform: rotate(180deg);
         }
      }
      &:hover {
         background-color: $main;
         svg {
            fill: $white;
         }
         .search-select__content {
            color: $white;
         }
      }
      @media (max-width: 991px) {
         padding: 5px 10px;
      }
   }
   &__content {
      pointer-events: none;
      max-width: 43px;
      font-size: 14px;
      line-height: 20px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      transition: color .2s ease;
   }
   &__triangle {
      pointer-events: none;
      margin-left: auto;
      width: 8px;
      height: 7px;
      fill: $black;
      transition: transform .2s ease, fill .2s ease;
   }
   &__item {
      width: 100%;
      padding: 6px 3px 6px 13px;
      font-size: 14px;
      line-height: 20px;
      transition: color .2s ease, background-color .2s ease;
      &:hover {
         color: $white;
         background-color: $main;
      }
      @media (max-width: 991px) {
         padding: 5px 5px 5px 10px;
      }
   }
}